@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .infotech{
    @apply p-4 bg-gray-700/50 rounded-lg max-w-[300px]
  }
  .chatrow{
    @apply rounded-lg px-5 py-3 text-sm flex items-center justify-center space-x-2 hover:bg-gray-700/70 cursor-pointer text-gray-300 transition-all duration-200 ease-out
  }
}
::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
  background-color: #1a202c; /* Background color of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1a202c; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #00eeff, #4c70af); /* Gradient for the scrollbar thumb (neon blue to green) */
  border-radius: 3px; /* Border radius of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #00BFFF, #388E3C); /* Gradient for the scrollbar thumb on hover (lighter blue to darker green) */
}